0
0.[0-9]*
[1-9]*

log.*
*.png
*.pvsm

swak*
results_*
report_*
PyFoamHistory
VTK
RBC*_*.stl
samplePlots
RBCPositions.txt
RBCData

constant/tube*

constant/cellToRegion
constant/polyMesh/faces
constant/polyMesh/owner
constant/polyMesh/neighbour
constant/polyMesh/points
constant/polyMesh/*Zones
constant/polyMesh/boundary
constant/polyMesh/sets
constant/cylinder/polyMesh/blockMeshDict
constant/cylinder/polyMesh/faces
constant/cylinder/polyMesh/owner
constant/cylinder/polyMesh/neighbour
constant/cylinder/polyMesh/points
constant/cylinder/polyMesh/boundary
constant/cylinder/polyMesh/sets
constant/RBC
constant/non_RBC
constant/sampleRBC
constant/lumen

system/RBC
system/non_RBC
system/sampleRBC
system/lumen

