0
0.[0-9]*
[1-9]*

log.*
*.png
*.pvsm

constant/cellToRegion
constant/polyMesh/faces
constant/polyMesh/owner
constant/polyMesh/neighbour
constant/polyMesh/points
constant/polyMesh/*Zones
constant/polyMesh/boundary
constant/polyMesh/sets
constant/RBC*
constant/nonRBC*

system/RBC*
system/nonRBC*
system/topoSetDict.tmp

