testDisconnectedZoneMesh

constant/polyMesh/points
constant/polyMesh/faces
constant/polyMesh/owner
constant/polyMesh/neighbour
constant/polyMesh/boundary

constant/cellSet?
constant/cellToRegion
constant/polyMesh/cellZones
constant/polyMesh/faceZones
constant/polyMesh/pointZones
constant/polyMesh/sets/
system/cellSet?

0/cellToRegion
0/cellSet?

log.*
processor*
