0
0.[0-9]*
[1-9]*

log.*
*.png
*.pvsm

swak*
results_*
report_*
PyFoamHistory
VTK
RBC*_*.stl
samplePlots

constant/lagrangian
system/lagrangian

constant/cellToRegion
# constant/polyMesh/blockMeshDict
constant/polyMesh/faces
constant/polyMesh/owner
constant/polyMesh/neighbour
constant/polyMesh/points
constant/polyMesh/*Zones
constant/polyMesh/boundary
constant/polyMesh/sets
constant/RBC*
constant/non_RBC

system/RBC*
system/non_RBC

